.navbar {
  color: whitesmoke;
  /* background-color: black; */
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.799) 50%
  );
}

.scrolled {
  background-color: black;
}
.container {
  display: flex;
  font-size: 14px;
  height: 50px;
  /* padding: 14px 50px;  */
  justify-content: space-around;
  align-items: center;
}

.left-navbar {
  cursor: pointer;
}

.right-navbar span {
  margin: 0px 15px;
  cursor: pointer;
  padding: 4px;

  .route-link {
    color: white !important;
    text-decoration: none;
  }
}

.right-navbar span:hover {
  margin: 0px 15px;
  cursor: pointer;
  background-color: black;
  padding: 6px;
  border-radius: 4px;
}
.right-navbar span:active {
  margin: 0px 15px;
  cursor: pointer;
  background-color: black;
  padding: 6px;
  border-radius: 4px;
}
