 .testimonial-slider{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 210px;
   width:420px;
   border-radius: 8px !important;
   /* background-color: brown */
 }
 .testimonial-slider-content{
   font-size: 15px;
   
 }
 .testimonial-client{
   display: flex !important;
   flex-direction: row;
   /* justify-content: flex-start; */
   height: 60% !important;
   max-width: 100% !important;
   width: 100% !important;
   /* align-items: center; */
 }

.image{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;

}
.client-name{
  font-size: 17px;
  font-weight: bolder;

}
.client-occuption{
  font-size: 14px;
  
}