.main-container{
    margin: 30px 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white!important;    
    border-radius: 5px;
    
    .right-main-container{
        flex: .7 !important;
        padding: 10px;
        margin: 39px 10px;
    }
    .left-main-container{
        flex: .3 !important;
    }
}
.un-oderlist {
    list-style: none;
    margin-left: -40px
  }

  .list-icon{
    font-size: 25px;
  }
  .list-icon span {
    font-size: 16px;
   
  }
  
  .un-oderlist .list-icon::before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;   
    width: 1em;
    margin-right: 20px;
     
    line-height: 120%;
  }

.sub-right-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

 