
.main-Header-box{
    display:flex;
     position:relative;
      width:100% ;
}

.icon12{
    position: absolute;
    color: black;
    margin-top: 539px;
    margin-left: 783px;
      
}
.header-bottom-list{
    position: absolute;
    color: white;
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 569px;
    margin-left: 993px;
    
    
    span{
    cursor: pointer;    
    font-weight: 600;
    }

    span:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    }
      
}

.Blinking-Header-box{
    position:absolute;
    margin-top:212px;
    color:white;
    margin-left:99px;
    max-width:100%;
    width:50%;
    margin-bottom: 222px !important;

}
.blinking-header{
     margin-left:33px;
      color:white;
       font-size:40px ;
       font-weight: 600;
}

.ityped-cursor {
    font-size: 1.7rem;
    opacity: 1;
    -webkit-animation: blink 0.6s infinite;
    -moz-animation: blink 0.6s infinite;
    animation: blink 0.7s infinite;
    // animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}


 